.venv/
venv/
# encodings.pkl
training/*/*.jpg
training/*/*.jpeg
training/*/*.png
training/*/*.gif
training/*/*.bmp
training/*/*.tiff
training/*/*.webp
training/*/*.ico
training/*/*.svg
training/*/*.avif
training/*/*.pjpeg
training/*/*.pjp
training/*/*.ppng
training/*/*.pwebp
training/*/*.pico
training/*/*.psvg
training/*/*.pavif
training/*/*.ppjpeg
training/*/*.ppjp
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
.env

.vercel

client/test_images/*

.DS_Store
training/.DS_Store